In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('./input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

./input/temp2022_4.csv
./input/temp2023_4.csv

In [9]:
df23=pd.read_csv('./input/temp2023_4.csv', index_col = 0)
df22=pd.read_csv('./input/temp2022_4.csv', index_col = 0)
df = pd.concat([df22,df23])
df

,home,away,home_score,away_score,home_rank,away_rank,공휴일,merged_ex_score,merged_ex_score_away,pitcher1,...,games_back,home_win_rate,3game_results,3game_evens,home_view,home_recommend,home_reply,away_view,away_recommend,away_reply
index,,,,,,,,,,,,,,,,,,,,,
0,KIA,LG,0,9,5.0,5.0,0,5.0,5.0,A. 플럿코,...,0.0,0.000000,0,0,117480.0,4843.0,662.0,19741.0,517.0,122.0
1,KT,Samsung,4,1,5.0,5.0,0,5.0,5.0,W. 쿠에바스,...,0.0,NaN,0,0,12915.0,409.0,142.0,103933.0,2048.0,429.0
2,NC,SSG,0,4,5.0,5.0,0,5.0,5.0,W. 폰트,...,0.0,NaN,0,0,40989.0,894.0,324.0,39982.0,1235.0,247.0
3,Doosan,Hanhwa,6,4,5.0,5.0,0,5.0,5.0,R. 스탁,...,0.0,NaN,0,0,33299.0,776.0,192.0,87955.0,1969.0,613.0
4,Kiwoom,Lotte,2,7,5.0,5.0,0,5.0,5.0,C. 반즈,...,0.0,NaN,0,0,26960.0,620.0,182.0,95373.0,2390.0,445.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,KIA,NC,4,2,6.0,3.0,0,5.2,5.4,박준표,...,4.0,0.507143,"1, 2",0,38577.0,709.0,292.0,227293.0,9641.0,1709.0
716,Doosan,SSG,2,3,5.0,5.0,0,4.4,4.8,R. 엘리아스,...,0.5,0.528571,"1, 1",1,151862.0,4744.0,903.0,129842.0,3606.0,708.0
717,Hanhwa,Lotte,2,7,10.0,7.0,0,4.6,4.6,신정락,...,6.0,0.423358,"2, 1",0,376382.0,11882.0,2063.0,366652.0,7802.0,1530.0
718,KIA,NC,7,1,6.0,4.0,0,5.4,3.6,양현종,...,3.0,0.510638,"2, 1",0,32453.0,817.0,113.0,207512.0,6579.0,1261.0
719,SSG,Doosan,5,0,4.0,5.0,0,5.0,4.2,김광현,...,1.5,0.535714,"2, 0",1,336124.0,13048.0,1876.0,166856.0,4673.0,1415.0

In [10]:
df.dtypes

home                        object
away                        object
home_score                   int64
away_score                   int64
home_rank                  float64
away_rank                  float64
공휴일                          int64
merged_ex_score            float64
merged_ex_score_away       float64
pitcher1                    object
pitcher2                    object
time                        object
요일                          object
구장                          object
관중수                          int64
month                        int64
year                         int64
first_game                   int64
rain                       float64
temp                       float64
pm10                       float64
date                         int64
before_attendance          float64
before_5game_avg           float64
last_match                  object
pythagorean_expectation    float64
games_back                 float64
home_win_rate              float64
3game_results               object
3game_evens                  int64
home_view                  float64
home_recommend             float64
home_reply                 float64
away_view                  float64
away_recommend             float64
away_reply                 float64
dtype: object

In [11]:
df.isnull().sum()

home                       0
away                       0
home_score                 0
away_score                 0
home_rank                  0
away_rank                  0
공휴일                        0
merged_ex_score            0
merged_ex_score_away       0
pitcher1                   2
pitcher2                   4
time                       0
요일                         0
구장                         0
관중수                        0
month                      0
year                       0
first_game                 0
rain                       0
temp                       0
pm10                       0
date                       0
before_attendance          0
before_5game_avg           0
last_match                 0
pythagorean_expectation    0
games_back                 0
home_win_rate              8
3game_results              0
3game_evens                0
home_view                  0
home_recommend             0
home_reply                 0
away_view                  0
away_recommend             0
away_reply                 0
dtype: int64